@media (min-width: 768px) {
  #mainNavbar {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: auto !important;
  }
}

/* Navbar tiene que estar por encima del carrusel */
.navbar {
  position: relative;
  z-index: 1100; /* Más alto que el carrusel que tienes en 1 */
}

/* Dropdown menú encima */
.dropdown-menu {
  position: absolute !important;
  z-index: 1200 !important;
}

.carousel-fixed {
    height: 450px;
}

.carousel-fixed .carousel-item,
.carousel-fixed .carousel-item img {
    height: 450px;
}

.carousel-fixed .carousel-item img {
    object-fit: cover;
}